.m-editor-stage {
  background-image: radial-gradient(rgba(9, 89, 194, 0.3) 6%, transparent 0px), radial-gradient(rgb(250, 249, 248) 6%, transparent 0px);
  background-position:
    0px 0px,
    5px 5px;
  background-size: 18px 18px;
}
